{% extends 'base.html'%}
{% import 'macros.html' as macro%}
<h1>One minute pitch</h1>
{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}
{% block content %}
    

    <div class="container">

        <div class="row">            
            <h2 class="pitch-header" >
                One Minute Pitch
            </h2>
                
        </div>
        <br><br><br>
        <div class="row">
            
            <div class="col-md-4 col-lg-4"> 
                <h2 class="pitch-create">
                    <a href="/pitch/new">
                        Pitch It Up
                    </a>
                </h2>
                
            </div> 

        </div>
        <hr>

        <ul class="list-unstyled">

            {{ macro.displayPitchList(pitch) }}

        </ul>

        <ul class="list-unstyled">
            {{ macro.displayCommentList(comments) }}
        </ul>



        <hr>


  </div>


{% endblock %}