<!-- {% macro displayPitchList(pitch_list) %}

    
        {% for pitch in pitch_list %}
        <div class="row">

            <div class="col-md-2 col-lg-2">

            </div>

            <div class=" col-xs-12 col-sm-12 col-md-8 col-lg-8 well pitch-well">

                <li class="text-center">
                    <h2>{{pitch.title}}</h2>
                    <h3>{{pitch.description}}</h3>
                    <a href ="/pitch_comments/{{pitch.id}}?upvote=1">Upvote: {{pitch.Upvote}}</a>
                    <a href ="/pitch_comments/{{pitch.id}}?dpwnvote=1">Downvote: {{pitch.Downvote}}</a>  
                    <h3 class="comment-create">
                        <a href="{{url_for('main.new_comment')}}">Add Comment</a>                                                        
                    </h3>
                </li>

            </div>

            <div class="col-md-2 col-lg-2">

            </div>

        </div>

        {% endfor %}
   
  
{% endmacro %}

    {% macro displayCommentList(comments) %}


        {% for comment in comments %}
            <div class="row">

                <div class="col-md-2 col-lg-2"></div>
                
                <div class=" col-xs-12 col-sm-12 col-md-8 col-lg-8 well comment-well">

                    <li>

                        <h4 class="comment-content">
                          {{comment.name}}
                        </h4>

                    </li>

                </div>

                <div class="col-md-2 col-lg-2">

                </div>

            </div>

        {% endfor %}

{% endmacro %} -->